*{
margin:0;
padding:0;
}

.firstdiv{
 background-color:skyblue;
 width:100vw;
 height:100vh;
 display:flex;
 align-items: center;/* top to middle*/
 justify-content: center; /*left to middle*/


}

.seconddiv{
    background-color: grey;
    height:70vh;
    width:50vw;
    display:grid;
    grid-template-columns: auto auto;
    
}
.seconddiv> .left{
    background-color: white;
    height:auto;
    width:25vw;
}

.seconddiv> .right{
    background-color: white;
    height:auto;
    width:25vw;
}

.input-group{
    margin:70px;
}                                                                                    
                                                                      
                                                                                                                                                                           